<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/partials/bootstrap">
    <meta charset="UTF-8">
    <title>CodeBound Library</title>
</head>
<body>
<navbar th:include="partials/navbar"></navbar>
<div class="container">
    <h1>Here is your book list</h1>
    <div th:each="book: ${books}">
        <h3 th:text="${book.title}"></h3>
        <p th:text="${book.author}"></p>
    </div>
    <h1>Add a new book</h1>
    <a href="/books/form">Click here!</a>
</div>
</body>
</html>
