<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Ads</h1>
<th:block th:each="ad:${ads}">
    <li th:text="${ad.id}"></li>
    <li th:text="${ad.title}"></li>
    <li th:text="${ad.description}"></li>
</th:block>
</body>
</html>
