<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Casino Roll Choice</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"></head>
<body>
<main>
    <main>
        <h1>You chose: <span th:text="${choice}"></span>!</h1>
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Choice</th>
                    <th>Roll</th>
                    <th>Results</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${choice}"></td>
                    <td th:text="${random}"></td>
                    <td th:text="${result}"></td>
                </tr>
                </tbody>
            </table>
<div>
    <span th:if="${choice}==${random}">
                <h3>You guessed correctly</h3>
            </span>
    <span th:if="${choice}!=${random}">
                <h3>You guessed Wrong</h3>
            </span>
</div>



            <a class="btn btn-default" href="/casino">Choose Again</a>
        </div>
    </main>
</main>
</body>
</html>
