<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/homePageStyle.css">
<!--    <link th:href="@{/css/style.css}" rel="stylesheet" /></head>-->
<body>
<nav th:replace="fragments/navbar"></nav>
<header th:replace="fragments/header"></header>
<h1>Welcome</h1>
<p>what is going on here?</p>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
