<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
<main>
    <h1 th:text="${cohort}"></h1>
    <!--form will have action of on /join use the post method to post data-->
    <h3>Please enter your Cohort name: </h3>
    <form action="/join" method="post">
        <input type="text" name="cohort" id="cohort-id" class="field"/>
        <button>Join now</button>
    </form>
</main>
</body>
</html>
