<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<main>
    <!--    Display List of Names-->
    <ul>
        <!--for each list of names-->
        <!--th:block is used to define a for loop within thymeleaf-->
        <th:block th:each="name:${names}">
            <li th:text="${name}"></li>
        </th:block>
    </ul>
</main>
</body>
</html>
