<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Submit Form</title>
</head>
<body>
<main>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">User Information</h5>
            <div class="card-text">
                <p th:text="${name}"></p>
                <p th:text="${hometown}"></p>
                <p th:text="${contact}"></p>
            </div>
            <a href="/show-form"><button> Go Back to Form</button></a>
        </div>
    </div>


    <!--    <p>-->
<!--        Name: <b th:text="${firstName}"></b> <b th:text="${lastName}"></b><br>-->
<!--        City, State: <b th:text="${city}"></b>, <b th:text="${state}"></b><br>-->
<!--        Email: <i th:text="${email}"></i>-->
<!--    </p>-->
</main>
</body>
</html>
