<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Grocery List System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Grocery List System</h1>
    <hr>
    <h2>Update Grocery</h2>
    <form action="#" th:action="@{/saveGrocery}" th:object="${grocery}" method="post">
        <!--Add Hidden form field to handle options-->
        <input type="hidden" th:field="*{id}"/>
        <input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Name of Grocery Item"/>
        <input type="text" th:field="*{category}" class="form-control mb-4 col-4" placeholder="Category"/>
        <input type="text" th:field="*{quantity}" class="form-control mb-4 col-4" placeholder="Quantity"/>
        <button type="submit" class="btn btn-info col-2">Update Grocery</button>
    </form>
    <hr>
    <a th:href="@{/groceries}">Back to Grocery List</a>
</div>
</body>
</html>
